{% extends "dashboard/base.html" %} 
{% load crispy_forms_tags %} 



{% block content %}

<div class="content">

  <h1>Welcome to Order</h1>
    <div class="container">
        <div class="row">
            
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Client Name</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Address</th>
                        <th scope="col">Transection ID</th>
                        <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in data %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{s.customer_name}}</td>
                                <td>{{s.customer_phone}}</td>
                                <td>{{s.customer_address}}</td>
                                <td>{{s.transection_id}}</td>
                                <td>
                                  <a href="{% url "admin_order_details" s.id %}" class="btn btn-primary">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>






{% endblock content %}
